<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/info.css">
    <link rel="stylesheet" href="../styles/title.css">
    <link rel="stylesheet" href="../styles/icons.css">
    <link rel="stylesheet" type="text/css" href="../js/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../js/slick/slick-theme.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Title</title>
</head>

<body>
<div class="background">
    <div class="stick"><img src="../Resources/sur.jpg"></div>
</div>
<header>
    <div class="header-container">
        <ul class="menu-header_list">
            <li class="menu-header_item"><a class="item" href="#">Статьи
                <span class="arrow"></span></a>
                <div class="sub_menu">
                    <ul class="submenu">
                        <li class="sub_item"><a class="item" href="#">оффтоп</a></li>
                        <li class="sub_item"><a class="item" href="#">лучшее</a></li>
                        <li class="sub_item"><a class="item" href="#">музыка</a></li>
                        <li class="sub_item"><a class="item" href="#">жизнб</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-header_item logo_item"><a class="logo icon-satellite" href="index.html"></a></li>
            <li class="menu-header_item"><a class="item" href="info.html">Издательство</a></li>
        </ul>
    </div>
    <div class="nav">
        <a class="account_logo" href="#popup"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
    </div>
</header>
<main id="mn">
    <div class="information">
        <div class="info_title"><h1>"Я дед инсайд, мне 9 лет": как в России появилась еще одна субкультура грустных
            подростков</h1></div>
        <div class="title_description">
            <div class="title_author">АВТОР: <a href="#">ФИФТИСЭНТ</a></div>
            <div class="title_tag"><a href="#">#ЖИЗНБ</a></div>
        </div>
        <img src="../Resources/t1.jpg" class="info_img"/>
        <div class="description">
            <div class="center_content">
                <p>
                    "Тебя ничего не гложет, ведь ты мертв внутри. Поколение моральных одиночек, не знающих сочувствия,
                    забывших о всех этикетных устоях, называющих себя дед инсайдами. Но что же это значит, в чьих руках
                    наше будущее?", — задается вопросом автор видео "dead inside культура".
                </p>
                <p>
                    Если за последний год вы провели хотя бы час в TikTok, вам точно попадались шутки про мрачных
                    подростков с густой черной или белой челкой на лице, похожих на героев аниме: к середине марта под
                    хештэгом #дединсайд в TikTok собрано уже 1,3 миллиарда роликов.
                </p>
                <p>Но TikTok — лишь площадка, на которой хорошо распространяется все самое мемоемкое. На самом деле,
                    движение апатичных подростков сформировалась вокруг аниме "Токийский гуль" и игры Dota 2 еще задолго
                    до появления китайской соцсети. Как и полагается действительно массовому явлению субкультура дед
                    инсайдов находит отражение и в музыке: к примеру, трек "1000-7" исполнителя fem.love, отсылающий к
                    уже упомянутому "Токийскому гулю", собрал в Spotify больше 16 миллионов прослушиваний и обогнал по
                    цифрам один из хитов 2021-го — "Сан Ларан" Платины и Доры.</p>
                <p>
                    Ценности дед инсайдов можно сравнить с идеями эмо, и в определенной степени эти течения похожи, но в
                    отличие от эмо, похоже, что субкультура дед инсайдов появилась именно в России.
                </p>
                <br>
                <h1><strong>"Раньше стильным нужно было быть на улице, а теперь и в интернете": как выглядят дед инсайды
                    и почему над ними смеются</strong></h1>
                <br>
                <p>"Мне часто в директ люди пишут: “Смотри, Илюха, я набил татуировку как у тебя!” Мне не очень
                    нравится, что моя татуировка превратилась в клоунский рофл. Я не хотел это продвигать в массы.
                    Ситуация забавная, но я от нее не в восторге. Я набил тату не ради того, чтобы сделать из нее мем и
                    всеобщую тему для шуток", — рассказывал стример и киберспортсмен ALOHADANCE про татуировку с
                    надписью "Dead Inside", сделанную во время интервью в 2018 году.</p>
                <p>Про дед инсайдов и правда много мемов. Один из самых популярных — отрывок аудиосообщения неизвестного
                    ребенка, который говорит "Я дед инсайд, мне 9 лет. Я хочу в “Психокидс” (популярное сообщество
                    стримеров на Твиче). Позже отрывок завирусился в TikTok и стал использоваться и в
                    качестве звука к тиктокам с эстетикой дед инсайдов (например, молодой человек в этом ролике стоит на
                    фоне монитора с кадрами из аниме "Токийский гуль" и показывает свою татуировку, повторяющую следы на
                    теле одного из героев этого аниме), и в ироничном ключе, как в этом тиктоке, снятом на автобусной
                    остановке. Спустя какое-то время в TikTok также разошелся звук "Я больше не дед инсайд", под который
                    снимают шуточные видео, посвященные избавлению от депрессии.</p>
                <p>Еще один аудиомем "Дай мне свой дискордик, я хочу тебе помурчать" обыгрывает выражение симпатии милых
                    аниме-девочек, которые потенциально могут заинтересовать дед инсайдов, в популярном в геймерской
                    среде мессенджере Discord. В TikTok есть большое количество ироничных роликов на эту тему, и даже
                    попадаются обучающие видео, в которых рассказывается, как правильно мурчать.</p>
                <p>Над взаимоотношениями дед инсайдов с противоположным полом также шутят и в контексте стиля.
                    Например, автор этого тиктока иронизирует над челкой дед инсайда, которая мешает ему заметить
                    девушку, пытающуюся привлечь его внимание. А вот этого — учит делать макияж, который может
                    понравиться дед инсайду.
                </p>
                <p>
                    Стиль и правда играет важную роль в субкультуре. Чаще всего дед инсайды красят волосы в белый или
                    черный и делают стрижку, как у главного героя "Токийского гуля" Канеки Кена: с густой челкой,
                    закрывающей глаза. Нередко дед инсайды носят черную одежду, красят ногти темным лаком и скрывают
                    лицо маской, что тоже отсылает к образу главного героя этого аниме. Мерчу и одежде в стиле дед
                    инсайдов посвящено множество пабликов во "ВКонтакте", в одном из самых заметных почти 47 тысяч
                    участников. Также в TikTok попадаются ролики с подборками вещей в духе дед инсайдов. "Просто взгляни
                    на эти dead inside свитеры с “Али Экспресс”", — пишет автор этого ролика.
                </p>
            </div>
        </div>
    </div>
</main>
<div id="popup" class="popup">
    <div class="popup_body">
        <a href="#head" class="popup_area"></a>
        <div class="container">
            <div class="popup_content">
                <div class="front" id="front_">
                    <div class="popup_title">ВХОД</div>
                    <div class="icon"><span class="fa fa-user-o" aria-hidden="true"></span></div>
                    <form class="login_form">
                        <div class="form_group"><input type="text" class="form_control" placeholder="Имя пользователя"
                                                       required/></div>
                        <div class="form_group"><input type="text" class="form_control" placeholder="Пароль" required>
                        </div>
                        <div class="form_group">
                            <div class="reg reg-1" id="elem">Регистрация</div>
                        </div>
                        <div class="form_group">
                            <button class="btn submit">Войти</button>
                        </div>
                    </form>
                </div>
                <div class="back" id="back_">
                    <div class="popup_title">РЕГИСТРАЦИЯ</div>
                    <div class="icon"><span class="fa fa-user-o" aria-hidden="true"></span></div>
                    <form class="login_form">
                        <div class="form_group"><input type="text" class="form_control" placeholder="Имя пользователя"
                                                       required/></div>
                        <div class="form_group"><input type="text" class="form_control" placeholder="Пароль" required>
                        </div>
                        <div class="form_group">
                            <div class="reg" id="elem-1">Вход</div>
                        </div>
                        <div class="form_group">
                            <button class="btn submit">Регистрация</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="page_end">
        <p>© 2022 Спутник</p>
    </div>
    <div class="links">
        <a href="https://github.com/qwSlane"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/slick/slick.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>