<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Title</title>
</head>
<body>
<header>
    <!--    <div class="logo-container">
        </div> -->
    <div class="header-container">
        <ul class="menu-header_list">
            <li class="menu-header_item"><a class="item" href="#">CATALOG</a></li>
            <li class="menu-header_item"><a class="logo" href="index.html"><img src="../Resources/logo.svg"/></a></li>
            <li class="menu-header_item"><a class="item" href="#">ACCOUNT</a></li>
        </ul>
    </div>
</header>
<main class="main">
   <!-- <div class="search-bar">
        <form action="" method="get">
            <input name="s" placeholder="Search..." type="search" spellcheck="false">
            <button type="submit"></button>
        </form>
    </div> -->
</main>
<footer>

</footer>
</body>
</html>