<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/icons.css">
    <link rel="stylesheet" type="text/css" href="../js/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../js/slick/slick-theme.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Title</title>
</head>

<body>
<div class="background">
    <div class="stick"><img src="../Resources/sur.jpg"></div>
</div>
<header>
    <div class="header-container">
        <ul class="menu-header_list">
            <li class="menu-header_item"><a class="item" href="#">Статьи
                <span class="arrow"></span></a>
                <div class="sub_menu">
                    <ul class="submenu">
                        <li class="sub_item"><a class="item" href="#">оффтоп</a></li>
                        <li class="sub_item"><a class="item" href="#">лучшее</a></li>
                        <li class="sub_item"><a class="item" href="#">музыка</a></li>
                        <li class="sub_item"><a class="item" href="#">жизнб</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-header_item logo_item"><a class="logo icon-satellite" href="index.html"></a></li>
            <li class="menu-header_item"><a class="item" href="info.html">Издательство</a></li>
        </ul>
    </div>
    <div class="nav">
        <a class="account_logo" href="#popup"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
    </div>
</header>
<main>
    <div class="slider">
        <div class="slider_item">
            <a class="topic" href="#">
                <div class="picture" style="background-image: url('../Resources/int.jpg')">
                    <div class="title"><span>example, ex</span></div>
                </div>
            </a>
        </div>
        <div class="slider_item">
            <a class="topic" href="#">
                <div class="picture" style="background-image: url('../Resources/int.jpg')">
                    <div class="title"><span>example, ex</span></div>
                </div>
            </a>
        </div>
        <div class="slider_item">
            <a class="topic" href="#">
                <div class="picture" style="background-image: url('../Resources/int.jpg')">
                    <div class="title"><span>example, ex</span></div>
                </div>
            </a>
        </div>
        <div class="slider_item">
            <a class="topic" href="#">
                <div class="picture" style="background-image: url('../Resources/int.jpg')">
                    <div class="title"><span>example, ex</span></div>
                </div>
            </a>
        </div>

        <div class="slider_item">
            <div class="picture" style="background-image: url('../Resources/int.jpg')"></div>
            <div class="title">авашот</div>
        </div>
        <div class="slider_item">
            <div class="picture" style="background-image: url('../Resources/int.jpg')"></div>
            <div class="title">авашот</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="content_wrapper">
            <div class="page">
                <div class="page_title"><span>исскуство быть</span></div>
                <div class="page_info">
                    <div class="author"><a class="author_ref" href="#">бутома</a></div>
                    <div class="tag"><a class="tag_ref" href="#">#жизнб</a></div>
                    <div class="date">20.05.22</div>
                </div>
                <a class="cover" href="#"><img src="../Resources/grf.jpg"></a>
            </div>
        </div>
        <div class="content_wrapper">
            <div class="page">
                <div class="page_title"><span>исскуство быть</span></div>
                <div class="page_info">
                    <div class="author"><a class="author_ref" href="#">бутома</a></div>
                    <div class="tag"><a class="tag_ref" href="#">#жизнб</a></div>
                    <div class="date">20.05.22</div>
                </div>
                <div class="cover"><img src="../Resources/grf.jpg"></div>
            </div>
        </div>
        <div class="content_wrapper">
            <div class="page">
                <div class="page_title"><span>исскуство быть </span></div>
                <div class="page_info">
                    <div class="author"><a class="author_ref" href="#">бутома</a></div>
                    <div class="tag"><a class="tag_ref" href="#">#жизнб</a></div>
                    <div class="date">20.05.22</div>
                </div>
                <div class="cover"><img src="../Resources/grf.jpg"></div>
            </div>
        </div>
         <div class="content_wrapper">
            <div class="page">
                <div class="page_title"><span>исскуство быть</span></div>
                <div class="page_info">
                    <div class="author"><a class="author_ref" href="#">бутома</a></div>
                    <div class="tag"><a class="tag_ref" href="#">#жизнб</a></div>
                    <div class="date">20.05.22</div>
                </div>
                <a class="cover" href="#"><img src="../Resources/grf.jpg"></a>
            </div>
        </div>
         <div class="content_wrapper">
            <div class="page">
                <div class="page_title"><span>исскуство быть</span></div>
                <div class="page_info">
                    <div class="author"><a class="author_ref" href="#">бутома</a></div>
                    <div class="tag"><a class="tag_ref" href="#">#жизнб</a></div>
                    <div class="date">20.05.22</div>
                </div>
                <a class="cover" href="#"><img src="../Resources/grf.jpg"></a>
            </div>
        </div>
         <div class="content_wrapper">
            <div class="page">
                <div class="page_title"><span>исскуство быть</span></div>
                <div class="page_info">
                    <div class="author"><a class="author_ref" href="#">бутома</a></div>
                    <div class="tag"><a class="tag_ref" href="#">#жизнб</a></div>
                    <div class="date">20.05.22</div>
                </div>
                <a class="cover" href="#"><img src="../Resources/grf.jpg"></a>
            </div>
        </div>
        <div class="content_wrapper">
            <div class="page">
                <div class="page_title"><span>исскуство быть </span></div>
                <div class="page_info">
                    <div class="author"><a class="author_ref" href="#">бутома</a></div>
                    <div class="tag"><a class="tag_ref" href="#">#жизнб</a></div>
                    <div class="date">20.05.22</div>
                </div>
                <div class="cover"><img src="../Resources/grf.jpg"></div>
            </div>
        </div>
    </div>
    <footer>
    <div class="page_end">
        <p>© 2022 Спутник</p>
    </div>
    <div class="links">
        <a href="https://github.com/qwSlane"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
</footer>
</main>
<div id="popup" class="popup">
    <div class="popup_body">
        <a href="#head" class="popup_area"></a>
        <div class="container">
            <div class="popup_content">
                <div class="front" id="front_">
                    <div class="popup_title">ВХОД</div>
                    <div class="icon"><span class="fa fa-user-o" aria-hidden="true"></span></div>
                    <form class="login_form">
                        <div class="form_group"><input type="text" class="form_control" placeholder="Имя пользователя"
                                                       required/></div>
                        <div class="form_group"><input type="text" class="form_control" placeholder="Пароль" required>
                        </div>
                        <div class="form_group">
                            <div class="reg reg-1" id="elem">Регистрация</div>
                        </div>
                        <div class="form_group">
                            <button class="btn submit">Войти</button>
                        </div>
                    </form>
                </div>
                <div class="back" id="back_">
                    <div class="popup_title">РЕГИСТРАЦИЯ</div>
                    <div class="icon"><span class="fa fa-user-o" aria-hidden="true"></span></div>
                    <form class="login_form">
                        <div class="form_group"><input type="text" class="form_control" placeholder="Имя пользователя"
                                                       required/></div>
                        <div class="form_group"><input type="text" class="form_control" placeholder="Пароль" required>
                        </div>
                         <div class="form_group">
                            <div class="reg" id="elem-1">Вход</div>
                        </div>
                        <div class="form_group">
                            <button class="btn submit">Регистрация</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="search-bar">
     <form action="" method="get">
         <input name="s" placeholder="Search..." type="search" spellcheck="false">
         <button type="submit"></button>
     </form>
 </div> -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/slick/slick.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>