{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="slider">
        {% for post in post_list %}
            {% if post.isChosen %}
            <div class="slider_item">
                <a class="topic" href="{{ post.get_absolute_url }}">
                    <div class="picture" style="background-image: url('{{ post.image.url }}')">
                        <div class="title"><span>{{ post.title }}</span></div>
                    </div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="wrapper">
        {% for post in post_list %}
            <div class="content_wrapper">
                <div class="page">
                    <div class="page_title"><span>{{ post.title }}</span></div>
                    <div class="page_info">
                        <div class="author"><a class="author_ref" href="#">{{ post.author }}</a></div>
                        <div class="tag">
                            {% for tag in post.genre.all %}
                                <a class="tag_ref" href="">#{{ tag.name }}</a></div>
                            {% endfor %}
                        <div class="date">{{ post.published_date }}</div>
                    </div>
                    <a class="cover" href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}"></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}