{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/info.css' %}">
{% block content %}
<main id="mn">
    <div class="slider">
      {% for post in post_list %}
            <div class="slider_item">
                <a class="topic" href="{{ post.get_absolute_url }}">
                    <div class="picture" style="background-image: url('{{ post.image.url }}')">
                        <div class="title"><span>{{ post.title }}</span></div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="information">
        <div class="info_title"><h1> ОБ ИЗДАТЕЛЬСТВЕ</h1></div>
        <div class="description">
            <div class="center_content">
                <p>
                    «Спутник» — регулярное издательство, основанное в 2022 году. Ресурс публикует преимущественно
                    публицистику и художественную литературу. В публицистике преобладает эссеистика, true story,
                    психоанализ и философия. </p>
                <p><strong>Главный редактор:</strong> ФИФТИСЭНТ
                    <br>
                    <strong>По общим вопросам: </strong><a href="https://t.me/deqq0">deqq0</a>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}