{% extends 'base.html' %}
{% load static %}

{% block references %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/info.css' %}">
{% endblock references %}
{% block content %}
    <div class="slider">
        <div class="slider_item">
            <a class="topic" href="#">
                <div class="picture" style="background-image: url('../Resources/int.jpg')">
                    <div class="title"><span>example, ex</span></div>
                </div>
            </a>
        </div>
        <div class="slider_item">
            <a class="topic" href="#">
                <div class="picture" style="background-image: url('../Resources/int.jpg')">
                    <div class="title"><span>example, ex</span></div>
                </div>
            </a>
        </div>
        <div class="slider_item">
            <a class="topic" href="#">
                <div class="picture" style="background-image: url('../Resources/int.jpg')">
                    <div class="title"><span>example, ex</span></div>
                </div>
            </a>
        </div>
        <div class="slider_item">
            <a class="topic" href="#">
                <div class="picture" style="background-image: url('../Resources/int.jpg')">
                    <div class="title"><span>example, ex</span></div>
                </div>
            </a>
        </div>

        <div class="slider_item">
            <div class="picture" style="background-image: url('../Resources/int.jpg')"></div>
            <div class="title">авашот</div>
        </div>
        <div class="slider_item">
            <div class="picture" style="background-image: url('../Resources/int.jpg')"></div>
            <div class="title">авашот</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="info_title">
            <h1>Категория:{{ tag|capfirst  }} </h1>
        </div>
        {% for post in post_list %}
            <div class="content_wrapper">
                <div class="page">
                    <div class="page_title"><span>{{ post.title }}</span></div>
                    <div class="page_info">
                        <div class="author"><a class="author_ref" href="#">{{ post.author }}</a></div>
                        <div class="tag">
                            {% for tag in post.genre.all %}
                                <a class="tag_ref" href="#"> #{{ tag.name }}</a></div>
                            {% endfor %}
                        <div class="date">{{ post.published_date }}</div>
                    </div>
                    <a class="cover" href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}"></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}