{% extends 'base.html' %}

{% load static %}

{% block references %}
    <link rel="stylesheet" href="{% static 'styles/info.css' %}">
    <link rel="stylesheet" href="{% static 'styles/title.css' %}">
{% endblock references %}

{% block content %}
    <main id="mn">
        <div class="information">
            <div class="info_title"><h1>{{ post.title }}</h1></div>
            <div class="title_description">
                <div class="title_author">АВТОР: <a href="#">{{ post.author }}</a></div>
                {% for tag in post.genre.all %}
                    <div class="title_tag"><a href=" {% url tag.slug %} /">#{{ tag.name }}</a></div>
                {% endfor %}

            </div>
            <img src="{{ post.image.url }}" class="info_img"/>
            {% if user.is_authenticated %}
                <div class="stars">
                    <form class="star_form" method="POST" action="{% url 'title' post.genre.first.slug post.slug %}">
                        {% csrf_token %}
                        <div class="star">
                            <button type="submit" name="submit" value="s_5" class=><i class="fa fa-star fa-4x"></i>
                            </button>
                        </div>
                        <div class="star">
                            <button type="submit" name="submit" value="s_4" class=><i class="fa fa-star fa-4x"></i>
                            </button>
                        </div>
                        <div class="star">
                            <button type="submit" name="submit" value="s_3" class=><i class="fa fa-star fa-4x"></i>
                            </button>
                        </div>
                        <div class="star">
                            <button type="submit" name="submit" value="s_2" class=><i class="fa fa-star fa-4x"></i>
                            </button>
                        </div>
                        <div class="star">
                            <button type="submit" name="submit" value="s_1" class=><i class="fa fa-star fa-4x"></i>
                            </button>
                        </div>
                    </form>
                <div class="average">{{ average }}</div>
                </div>
            {% endif %}
            <div class="description">
                <div class="center_content">
                    {{ post.text| linebreaks }}
                </div>
            </div>
            {% for info in post.description.all %}
                <img src="{{ info.image.url }}" class="info_img"/>
                <div class="description">
                    <div class="center_content">
                        {{ info.text| linebreaks }}
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>
{% endblock content %}