<!DOCTYPE html>
<html lang="ru">

{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/accstyles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/info.css' %}">

    {% block references %}
    {% endblock references %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Title</title>
</head>

<body>
<div class="background">
    <div class="stick"><img src="{% static 'Resources/sur.jpg' %}"></div>
</div>
<header>
    <div class="header-container">
        <ul class="menu-header_list">
            <li class="menu-header_item"><a class="item" href="#">Статьи
                <span class="arrow"></span></a>
                <div class="sub_menu">
                    <ul class="submenu">
                        <li class="sub_item"><a class="item" href="{% url 'other' %}">оффтоп</a></li>
                        <li class="sub_item"><a class="item" href="{% url 'music' %}">музыка</a></li>
                        <li class="sub_item"><a class="item" href="{% url 'movies' %}">кино</a></li>
                        <li class="sub_item"><a class="item" href="{% url 'life' %}">жизнб</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-header_item logo_item"><a class="logo icon-satellite"href="{% url 'home' %}"></a></li>
            <li class="menu-header_item"><a class="item" href="{% url 'info' %}">Издательство</a>
            </li>
        </ul>
    </div>
    <div class="nav">

        <a class="account_logo" {% if user.is_authenticated %}
           href="{% url 'profile' user.username %}"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
        {% else %}
            onclick="func()"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
        {% endif %}


        <script>function func() {
            let el = document.getElementById('popup');
            el.classList.add('open');
            el.addEventListener("click", function (e) {
                if (!e.target.closest('.popup_content')) {
                    popupClose(e.target.closest('.popup'));
                }
            });
        }

        function popupClose(curr) {
            curr.classList.remove('open');
            clearInput();
        }
        </script>
    </div>
</header>

<main id="mn">
    {{ form }}
    {% block content %}
    {% endblock content %}
    <footer id="foot">
        <div class="page_end">
            <p>© 2022 Спутник</p>
        </div>
        <div class="links">
            <a href="https://github.com/qwSlane"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
    </footer>
</main>

<div id="popup" class="popup">
    <div class="popup_body">
        <div id="cont" class="container">
            <div class="popup_content">
                <div class="front" id="front_">
                    <div class="popup_title">ВХОД
                    </div>
                    <div class="icon"><span class="fa fa-user-o" aria-hidden="true"></span></div>
                    <form class="login_form" id="login_form" method="POST" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="form_group"><input name="username" type="text" class="form_control"
                                                       placeholder="Имя пользователя"
                                                       required/></div>
                        <div class="form_group"><input name="password" type="password" class="form_control"
                                                       placeholder="Пароль" required>
                        </div>
                        <div class="form_group">
                            <div class="reg reg-1" id="elem">Регистрация</div>
                        </div>
                        <div class="message"> </div>
                        <div class="form_group">
                            <button type="submit" name='submit' value="sign_in" class="btn">Войти</button>
                        </div>
                    </form>
                </div>
                <div class="back" id="back_">
                    <div class="popup_title" style="margin-bottom: 2em">РЕГИСТРАЦИЯ</div>

                    <form class="login_form" id="registration_form" method="POST" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="form_group "><input type="text" name="reg_username" class="form_control"
                                                       placeholder="Имя пользователя"
                                                       required/></div>
                        <div class="form_group "><input type="password" name="reg_pass1" class="form_control"
                                                       placeholder="Пароль" required>
                        </div>
                        <div class="form_group "><input type="password" class="form_control" name="reg_pass2"
                                                       placeholder="Повторите пароль" required>
                        </div>
                        <div class="form_group ">
                            <div class="reg" id="elem-1">Вход</div>
                        </div>
                        <div class="message form_back">
                        </div>
                        <div class="form_group">
                            <button type="submit" name='submit' class="btn" value="reg">
                                Регистрация
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="search-bar">
     <form action="" method="get">
         <input name="s" placeholder="Search..." type="search" spellcheck="false">
         <button type="submit"></button>
     </form>
 </div> -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/slick/slick.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>