

.information{
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 3em;
    padding: 1em 1em 0 1em;
}
.ititle {
    position: absolute;
    margin-left: 2em;
    margin-bottom: 1em;
    color: #ccccff;
}
.info_title{
    width: 100%;
    color: #ccccff;
    margin-top: 1em;
    margin-bottom: 2em;
}

.description{
    font-family: Serif;
    font-size: 18px;
    line-height: 24px;
    padding: 2em;
    width: 100%;
    background-color: #000000;
    opacity: 0.7;
}

.center_content{
    color: #FFFFFF;
}

p {
    margin-bottom: 1em;
}
a{
    text-decoration: underline black 2px;
    color: white;
}

.marg{

}
